<div ng-controller="ordersController">
  <h1>Add a new Order</h1>
  <form ng-submit="addOrder()">
    <label for="customer">Customer
    <select ng-model="newOrder.customerId" >
      <option ng-repeat ="customer in customers" value="{{customer._id}}">{{customer.name}}</option>
    </select>
    </label>
    <label>Product
    <select ng-model="newOrder.productId">
      <option ng-repeat ="product in products" value="{{product._id}}">{{product.name}}</option>
    </select>
    </label>
    <br>
    <label>Quantity
      <input type="number" ng-model="newOrder.quantity">
    </label>
    <input type="submit">
  </form>
  <table>
    <tr>
      <th>Customer Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat='order in orders'>
      <td>{{order._customer.name}}</td>
      <td>{{order._product.name}}</td>
      <td>{{order.quantity}}</td>
      <td><button ng-click='removeCustomer(customer._id)'>Remove</button></td>
    </tr>
  </table>
</div>
